<div class="PlentyFormContainer PlentyWebMyAccountOrderOverviewUploadNoticeContainer" style="display:none">
	<div class="PlentyWebMyAccountOrderOverviewUploadNoticeTitle PlentyMyAccountHeaderChange">
		<div class="PlentyWebMyAccountItemContainerHeaderTitle">Hinweis zum Dateiupload</div>
		<div id="PlentyWebMyAccountOrderOverviewUploadNoticeEmpty" class="PlentyWebMyAccountClear"></div>
	</div>
	<div class="PlentyFormContainer PlentyWebMyAccountOrderOverviewUploadNoticeDataContainer">
		<div class="PlentyWebMyAccountOrderOverviewUploadNoticeData">
			Zu diesem Auftrag wurden die Druckdaten noch nicht zu allen Artikeln Übermittelt. Bitte beachten Sie den Uploadbutton weiter unten in der Artikelansicht
		</div>
	</div>
</div>